@import '@assets/styles/variables';

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
}

.left {
    width: 700px;

    .title {
        font-family: $textFont;
        font-size: $xlTitleSize;
        color: $mainColor;
    
        span {
            color: $secondaryColor;
        }
    }
}

.right {
    width: 260px;

    .text {
        font-family: $textFont;
        font-size: 20px;
        color: $mainColor;
        padding-bottom: 55px;

        text-align: justify;
    }

}

.start {
    img {
        width: 100%;
        height: 600px;
    }
}