@import '@assets/styles/variables';

.contacts_menu {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    padding-top: 3px;
}

.text {
    font-family: $textFont;
    font-size: $xlTextSize;
    color: $mainColor;
    text-decoration: none;
}

.right, .left {
    display: flex;
    justify-content: space-between;
}

.left {
    padding-right: 20px;
}

