@import '@assets/styles/variables';

.nav_menu {
    ul {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    .nav_item {
        font-family: $textFont;
        color: $secondaryColor;
        font-size: $smallFontSize;
        text-decoration: none;
        padding-right: 20px;
    }

    .nav_item:hover {
        color: #5330dd;
        transition: 0.5s;
    }
}

