@import '@assets/styles/variables';

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $mainColor;
    padding-top: 30px;

    @media only screen and (max-width: 992px) {
        .center {
            order: 3;
        }

        .right {
            order: 2;
        }
    }
}