$backgroundColor: #161717;
$mainColor: #fff;
// $secondaryColor: #EA3219;
$secondaryColor: #6E9150;

$textFont: "Montserrat", sans-serif;
$titleFont: "Poiret One", sans-serif;

$xlTextSize: 16px;
$xlTitleSize: 54px;

$lgTextSize: 14px;
$lgTitleSize: 46px;
