@import '@assets/styles/variables';

.advice_button {
    text-decoration: none;
    font-family: $textFont;
    font-size: $xlTextSize;
    color: $mainColor;
    
    padding: 15px 35px;
    border: 1px solid $secondaryColor;
}

.advice:hover {
    background-color: $secondaryColor;
    transition: 0.5s;
    cursor: pointer;
}

.advice_button:hover {
    background-color: $secondaryColor;
    transition: 0.5s;
}